@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url('https://fonts.googleapis.com/css?family=Contrail One'); 
@import url('https://fonts.googleapis.com/css?family=Bungee Shade');
html {
	height: 100vh;
	width: 100vw;
}
body {
	height: 100vh;
	width: 100vw;
	position: fixed;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
button {
	height: 8vmin;
	width: 25vmin;
	font-family: 'Comfortaa';
	font-size: 3vmin;
	background-color: white;
	color: black;
	border: 2px solid #555555;
	transition-duration: 0.3s;
}
button:hover {
	background-color: #555555 !important;
	color: white;
}

h1 {
	text-align: center;
	font-family: 'Bungee Shade';
	font-size: 6vmin;
}
.indexp {
	text-align: center;
	font-family: 'Contrail One';
	font-size: 3vmin;
}
#greeting {
	display: none;
	font-size: 4vmin;
}
#picture {
	display: block;
	height: 40vh;
	margin-left: auto;
	margin-right: auto;
}
#timer {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	text-align: center;
	width: 5%;
	font-family: Comfortaa;
	border: 2px solid black;
	border-radius: 5px;
}
#overlay {
	position: fixed;
	display: none; 
	width: 100vw; 
	height: 100vh; 
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8); 
	z-index: 2; 
	cursor: pointer;
	font-family: 'Contrail One';
}
#desc {
	display: none;
	position: absolute;
	top: 75vh;
	left: 50vw;
	font-size: 5vmin;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	text-align: center;
}
#anspic {
	display: none;
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
}
#animate {
	position: absolute;
	top: 50vh;
	left: 50vw;
	font-size: 5vh;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	text-align: center;
}
#qn {
	display: none;
	width: 4vmin;
	opacity: 0.8;
	margin-left: auto;
	margin-right: auto;
}
#rules {
	display: none;
	position: fixed;
	width: 30vw;
	left: 4vw;
	bottom: 10vh;
}
.indexbutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	opacity: 0.8;
}
.indexbutton:hover {
	background-color: #555555;
	color: white;
}
#start {
	display: none;
}
#answers {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	position: fixed;
	left: 0;
	right: 0;
	
}
#prompt {
	display: none;
	width: 100vw;
	position: fixed;
	bottom: 3vh;
	font-size:2.5vmax;
	color: white;
	text-align: center;
}
#score {
	display: block;
	width: 96vw;
	position: fixed;
	top: 6vh;
	font-size:2.3vmax;
	color: white;
	text-align: right;
}
#signoutbutton {
	display: none;
}
