@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url('https://fonts.googleapis.com/css?family=Contrail One'); 
@import url('https://fonts.googleapis.com/css?family=Bungee Shade');

body {
	height: 100%
	width: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
}
button {
	height: 50px;
	width: 200px;
	font-family: 'Comfortaa';
	font-size: 100%;
	background-color: white;
	color: black;
	border: 2px solid #555555;
	transition-duration: 0.4s;
}
button:hover {
	background-color: #555555;
	color: white
}

h1 {
	text-align: center;
	font-family: 'Bungee Shade';
	font-size: 250%;
}
.indexp {
	text-align: center;
	font-family: 'Contrail One';
	font-size: 120%;
}
#greeting {
	display: none;
}
#picture {
	display: block;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
}
#timer {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	text-align: center;
	width: 5%;
	font-family: Comfortaa;
	border: 2px solid black;
	border-radius: 5px;
}
#overlay {
  position: fixed;
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); 
  z-index: 2; 
  cursor: pointer;
  font-family: 'Contrail One';
}
#score {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}
#qn {
	display: block;
	width: 5%;
	opacity: 0.8;
	margin-left: auto;
	margin-right: auto;
}
#rules {
	display: none;
}
#start {
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	opacity: 0.8;
}
#signinbutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	opacity: 0.8;
}
#start:hover {
	background-color: #555555;
	color: white
}
#answers {
	text-align: center;
}
