body {
	background-image: url('pics/dhs.jpg')
}
button {
	height: 50px;
	width: 200px;
}
img {
	display: block;
	height: 300px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	text-align: center;
	font-family: 'Bungee Shade';
	font-size: 60px;
}
p {
	text-align: center;
	font-family: 'Contrail One';
	font-size: 20px;
}
#timer {
	height: 100px;
	width: 100px;
}
#overlay {
  position: fixed;
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); 
  z-index: 2; 
  cursor: pointer; 
}
#score {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}
#qn {
	width: 5%;
	height: 5%;
}
#rules {
	display: none;
}
#start {
	
}
